
*{
    font-size: ;
    color: ;
    background-color: ;
    width: px;
    height: px;
}


body {
    background-color: ;
    color: black;
}

header {
    text-align: center;
    font-size: 25px;
}

.Titulos {
    background-color: black;
    color: white;
    
    text-align: center;

    width: auto;
    height: 35px;

}

#ContenedorSection {
    display: flex;
    
}

.Cuadrado1 {
    background-color: green;

    width: 200px;
    height: 200px;
    
    margin-bottom: 20px;   
    border: solid 10px black;
    padding: 25px;

    flex-grow: 1;
}

.Cuadrado2 {
    background-color: white;

    width: 200px;
    height: 200px;
    
    margin-bottom: 20px;   
    border: solid 10px black;
    padding: 25px; 

    flex-grow: 1;
}

.Cuadrado3 {
    background-color: red;

    width: 200px;
    height: 200px;

    margin-bottom: 20px;   
    border: solid 10px black;
    padding: 25px;

    flex-grow: 1; 
}

#ContenedorArticle {
    display: flex;

}

.Cuadrado4 {
    background-color: green;

    width: 200px;
    height: 200px;

    margin-bottom: 20px;
    border: solid 10px black;
    padding:25px;

    flex-grow: 1;
}

.Cuadrado5 {
    background-color: white;

    width: 200px;
    height: 200px;

    margin-bottom: 20px;
    border: solid 10px black;
    padding:25px;

    flex-grow: 2;
}

.Cuadrado6 {
    background-color: red;

    width: 200px;
    height: 200px;

    margin-bottom: 20px;
    border: solid 10px black;
    padding:25px;

    flex-grow: 3;
}
#ContenedorDiv {
    display: flex;
}

.Cuadrado7 {
    background-color: green;

    width: 200px;
    height: 200px;

    margin-bottom: 20px;
    border: solid 10px black;
    padding:25px;

    flex-grow: 1;
}

.Cuadrado8 {
    background-color: white;

    width: 200px;
    height: 200px;

    margin-bottom: 20px;
    border: solid 10px black;
    padding:25px;

    flex-grow: 3;
}

.Cuadrado9 {
    background-color: red;

    width: 200px;
    height: 200px;

    margin-bottom: 20px;
    border: solid 10px black;
    padding:25px;

    flex-grow: 9;
}
