*{
    background-color:;
    color: ;
    font-size: 20px;

    padding: 0;
    margin: 10px;

    width: ;
    height: ;
}

body {
    /*Comando Para el 100% Total de tu Pantalla*/
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh; 
}

header {
    text-align: center;
}

.SectionFotos {
    display: flex;
}

/*Ejemplo Uso backgroud*/
.BarrancaHuentitan {
    background-color: black;
    color: white;

    text-align: center;

    border: dotted;
    border-color: red;
    border-radius: 50px;
    border-width: 10px;

    padding: 50px;
    margin: 50px;

    flex-grow: 1;
}

.CerroDelToro {
    background-color: white;
    color: ;

    text-align: center;

    border: dashed black;
    border-radius: 50px;
    border-width: 10px;

    padding: 25px 25px 25px 25px;
    margin: 50px 50px 50px 50px;

    height: px;
    width: px;
    overflow: scroll;

    flex-grow: 1;  
}

.PaddleBoard {
    background-color: black;
    color: white;

    text-align: center;

    border: solid red ;
    border-radius: 50px;
    border-width: 10px;

    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;

    flex-grow: 1;
}


.DivFotos {
    display: flex;
}

.Cocodrilario {
    background-color: ;
    color: ;
    text-align: center;

    border: double black;
    border-radius: 50px;
    border-width: 10px;

    flex-grow: 1;
}

.PerfilRedes {
    background-color: black;
    color: white;

    text-align: center;

    border: groove red;
    border-radius: 50px;
    border-width: 10px;

    flex-grow: 2;
}

.PescaKayak {
    background-color: ;
    color: ;

    text-align: center;

    border: ridge black;
    border-radius: 50px;
    border-width: 15px;

    flex-grow: 3;
}

footer {
    background-color: black;
    width: auto;
    height: auto;
    text-align: center;

    border: ;
    border-radius: 20px;
}
